/* This is for mobile dropdown only */
.NavBar { 
	list-style: none;
	padding: 0;
}
.NavBar li {
	background-color: transparent;
	border: none;
	width: 100%;
	padding: 1vh 0;
	text-decoration: none;
}
.NavBar li a:link, .NavBar li a:visited {
	text-decoration: none;
	color: black;
}
.dropDown a:hover{
	font-size:110%;
	font-weight: 900;
}