.main {
	padding-bottom: 4vh;
	margin-bottom: 4vh;
	background: linear-gradient(rgb(152, 165, 152),rgb(133, 133, 133)) bottom /85% 1px;
  	background-repeat: no-repeat;
}
.main > figure img {
	max-width: 100%;
}
.main > div {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.cartDiv > menu {
	padding: 0;
}
.rating, .price {
	padding-bottom: 2vh;
	border-bottom: 1px solid rgb(152, 165, 152);
}
.price {
	font-size: 2rem;
}
.description {
	padding: 2vh 1vw;
	margin-top: 0;
	margin-bottom: 4vh;
	background: linear-gradient(rgb(152, 165, 152),rgb(133, 133, 133)) bottom /50% 1px;
  	background-repeat: no-repeat;
}
.changeAmountBtns {
	display: flex;
	align-items: center;
	justify-content: center;
}
.changeAmountBtns p {
	margin: 10px;
}
.changeAmountBtns > button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 60%;
	height: 1.5rem;
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-radius: 10px;
	background-color: rgba(152, 165, 153, 0.158);
}
.link > a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 2rem;
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-radius: 10px;
}
.addToCartMenu > button {
	background-color: rgba(152, 165, 153, 0.158);
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-radius: 10px;
}

@media only screen and (min-width:700px) {
.main {
	display: flex;
}
.main > div {
	width: 50%;
}
.cartDiv{
	display: flex;
	align-items: center;
	justify-content: center;
}
.changeAmountBtns button {
	width: 2vw;
}
.changeAmountBtns > button {
	width: 60%;
}
.cartBtn{
	height: 2rem;
	border: 1px solid rgba(0, 0, 0, 0.356);
	border-radius: 10px;
	background-color: rgba(152, 165, 153, 0.158);
}
}