.cardArticle {
	display: flex;
	align-items: center;
}
.changeAmountBtns {
	display: flex;
	align-items: center;
}
.changeAmountBtns div {
	display: flex;
	margin-left: 10px;
	align-items: center;
	border: 1px solid;
}
.changeAmountBtns button, .changeAmountBtns p {
	height: 100%;
	margin: 5px;
}
.productImg {
	width: 12vw;
	object-fit: cover;
}
.productImg:hover {
	cursor: pointer;
}
.infoDiv {
	margin: 4vh 2vw;
}
.infoDiv > a {
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
}