.formDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form input {
	margin: 10px;
}
.form input:first-child {
	margin: 0;
}
.buttonDiv {
	display: flex;
	justify-content: space-between;
}
